{% extends 'index.html' %}

{% block content %}
<div class="features">
    <article>
        <span class="icon fa-gem"></span>
        <div class="content">
            <a href="#"><h3>화분에 발가락 찧었다. 질문 받는다. (5)</h3></a>
            <p>작성자 : 화순군 시라소니 / 게시날짜 : 07/18 / 조회수 : 59 / 추천 : -2</p>
        </div>
    </article>
    <article>
        <span class="icon solid fa-paper-plane"></span>
        <div class="content">
            <a href="#"><h3>직접 키운 당근으로 비빔밥했어용~ (8)</h3></a>
            <p>작성자 : 롱다리 피카츄 / 게시날짜 : 07/18 / 조회수 : 113 / 추천 : 11</p>
        </div>
    </article>
    
</div>
{% endblock%}