body {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.plantImage, .diseaseSymptom, .ControlMethod{

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 1fr;
        height: 100%;
        width: 70%;
        background-color: rgb(210, 210, 210);
        display: grid;
        margin-top: 2%;
        margin-bottom: 10%;
        place-items: center;

}

.result {
    background-color: #e47373;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.result{
    margin-bottom: 15px;
}
.result {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.retry, .goMypage {
    display: flex;
    flex-direction: row;
    padding: 12px 24px;
    background-color: #fff;
    color: #f56a6a;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.retry:hover, .goMypage:hover {
    background-color: #f56a6a;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}