@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

*{
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- 상단 배너 이미지 크기 조절 ---------- */
#banner header{
    text-align: center;
}
#banner .murukLogo{
    width: 75vw;
    margin-bottom: 1vw;
    margin-left: 12%;
}

/* ----------------------- 상세페이지 보이는 부분 -------------- */
.table {
    display: table;
    width: 100%;
}
.detailForm{
    display: flex;
    min-height: 100vh;
}

/* ------------ 왼쪽 사이드바 ----------------------------- */
.leftSidebar{
    width: 13%;
    background-color: #2c3e50;
    color: white;
    padding-top: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
}
.leftSidebar nav ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
.leftSidebar nav ul li{
    margin: 20px 0;
}
.leftSidebar nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.leftSidebar nav ul li a:hover{
    background-color: #34495e;
}




