{% extends 'main.html' %}

{% block content %}
<section>
    <table class="table">
        <tr>
            <td colspan="7">
                <h2>자유게시판</h2>
            </td>
        </tr>

        <tr class="postHead">
            <th>번호</th>
            <th class="postTitle">게시물 제목</th>
            <th>작성자</th>
            <th>작성날짜</th>
            <th>조회수</th>
            <th>댓글수</th>
            <th>-</th>
        </tr>

        {% for i in boardFree %}
            <tr class="contentBody">
                <td>{{i}}</td>
                <td class="content">{{ i.BOARD_TITLE }}</td>
                <td>{{ i.USER_IDX }}</td>
                <td>{{ i.BOARD_DATE }}</td>
                <td>{{ i.BOARD_COUNT }}</td>
                <td>0</td> <!-- 댓글 수는 데이터를 포함하지 않으므로 임시로 0을 표시 -->
                <td></td>
                <td><input type="hidden" value="{{ i.BOARD_IDX }}"></td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
