<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link rel="stylesheet" href="../public/myPage.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <img src="{{ userData.USER_PICTURE}}" alt="프로필사진" class="profile-photo">
            <button class="nickname">{{ userData.USER_NICK }} <span>수정</span></button>

            <button class="linked-accounts">{{userData.USER_NAME}}/{{userData.SNS_PROVIDER | upper}}</button>
            <form action="/myPage/delete" method="POST" style="display: inline;">
                <button type="submit" class="delete-account">회원 탈퇴</button>
            </form>
            <button id="mainBack" onclick="window.location.href='/'">MainPage</button>

        </div>
        <div class="content">
            <div class="posts-list">
                <h2 id="myListTop">작성 글 목록</h2>
                <table class="myPostList">
                    <tr id="myListTr">
                        <td>카테고리</td>
                        <td>게시글 제목</td>
                        <td>게시날짜</td>
                        <td>조회수</td>
                        <td id="mycommend">댓글수</td>
                    </tr>
                    {% if boardData and boardData.length > 0 %}
                        {% for i in boardData %}
                        <tr class="myUnderList" onclick="window.location.href='/board/detailPost?idx={{i.BOARD_IDX}}'">
                            <td>{{i.BOARD_CATE}}</td>
                            <td>{{i.BOARD_TITLE}}</td>
                            <td>{{i.BOARD_DATE| date("YYYY-MM-DD HH:mm") }}</td>
                            <td>{{i.BOARD_COUNT}}</td>
                            <td id="undercommend">{{i.COMMENT_COUNT}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="text-align: center;">작성한 내용이 없습니다</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="diagnosis-records">
                <h2 id="myListTop2">병충해 진단 기록</h2>
                <table class="mybugList">
                    <tr id="bugListTr">
                        <td>DSS_PLANT</td>
                        <td>DSS_STATE</td>
                        <td>DSS_DATE</td>
                        <td id="lasttd">DSS_DISC</td>
                        <td>DSS_PREV</td>
                    </tr>
                    <tr class="bugUnderList">
                        <td>자유</td>
                        <td>오늘 오븐마루 갈 사람</td>
                        <td>2024-07-29</td>
                        <td>12</td>
                        <td id="lasttd2">3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 수정 클릭시 뜨는 Modal  -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>닉네임 수정하기</h2>
            <div class="nickModal">
                <input type="text" placeholder="닉네임 입력" required>
                <button type="submit">완료</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("mainBack").addEventListener("click",(e)=>{
            e.preventDefault(); 
            window.location.href="/"
        })

        // 모달 요소 가져오기
        var modal = document.getElementById("myModal");
        var btn = document.querySelector(".nickname");
        var span = document.querySelector(".modal .close");

        // 모달 열기
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // x 클릭 시 모달 닫기
        span.onclick = function() {
            modal.style.display = "none";
        }
        // 모달 외부 클릭 시 닫기
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>