<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link rel="stylesheet" href="../public/myPage.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="profile-photo"><img src="{{ userData.USER_PICTURE}}" alt=""></div>
            <button class="nickname">{{ userData.USER_NICK }} <span>수정</span></button>
            <button class="linked-accounts">{{userData.USER_NAME}}/{{userData.SNS_PROVIDER}}</button>
            <button class="delete-account">회원 탈퇴</button>
            <button id="mainBack" href="/">MainPage</button>
        </div>
        <div class="content">
            <div class="posts-list">
                <h2 id="myListTop">작성 글 목록</h2>
                <table class="myPostList">
                    <tr id="myListTr">
                        <td>카테고리</td>
                        <td>게시글 제목</td>
                        <td>게시날짜</td>
                        <td>조회수</td>
                        <td id="mycommend">댓글수</td>
                    </tr>
                    {% for i in boardData %}
                    <tr class="myUnderList">
                        <td>{{i.BOARD_CATE}}</td>
                        <td>{{i.BOARD_TITLE}}</td>
                        <td>{{i.BOARD_DATE}}</td>
                        <td>{{i.BOARD_COUNT}}</td>
                        <td id="undercommend">{{i.COMMENT_COUNT}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="diagnosis-records">
                <h2 id="myListTop2">병충해 진단 기록</h2>
                <table class="mybugList">
                    <tr id="bugListTr">
                        <td>카테고리</td>
                        <td>게시글 제목</td>
                        <td>게시날짜</td>
                        <td>조회수</td>
                        <td id="lasttd">댓글수</td>
                    </tr>
                    <tr class="bugUnderList">
                        <td>자유게시판</td>
                        <td>오늘 오븐마루 갈 사람</td>
                        <td>2024-07-29</td>
                        <td>12</td>
                        <td id="lasttd2">3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("mainBack").addEventListener("click",(e)=>{
            e.preventDefault(); 
            window.location.href="/"
        })
    </script>
</body>
</html>
