<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:5000/predict" method="post">
        <div>진단</div>
        <br>
        <div>
            <select name="" id="">
                    <option>선택</option>
                    <option value = "가지">가지</option>
                    <option value = "고추">고추</option>
                    <option valie = "단호박">단호박</option>
                    <option valie = "딸기">딸기</option>
                    <option valie = "상추">상추</option>
                    <option valie = "수박">수박</option>
                    <option valie = "애호박">애호박</option>
                    <option valie = "오이">오이</option>
                    <option valie = "주키니호박">주키니호박</option>
                    <option valie = "참와">참외</option>
                    <option valie = "토마토">토마토</option>
                    <option valie = "포도">포도</option>
                
            </select>
        </div>
        <br>
        <button type="submit">전송</button>
    </form>
</body>

</html>